<!--INDEX HOME PAGE-->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
	<title>Delete All Wishlist</title>
</head>

<body>
    <div id="deleteWishlist-container">
        <h1 class="header-styling"> Delete All Wishlists</h1>
        <p class="form-qs" style="color:#3a5a40"><strong>Stop! You're about to delete your wishlist...</strong></p>
        <form action="/processDeleteAllWishlists" method="post">
            <input class="submit-button-styling" type="submit" value="Delete All Wishlist">
        </form>
    </div>
    <div class="homepage">
        <a class="form-button-styling" href="/">Home Page</a> <!-- a url to go back to home page-->
    </div>
</body>

</html>