<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Wishlist</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="getTotal-container">
    <h1 class="header-styling" >Get The Total Associated With your Wishlist</h1>
    <form action="/processGetTotal" method="post">
        <p  class="form-qs"> Enter the name of your wishlist: </p>
        <input type="text" name="wishlistName"><br>
        <input class="submit-button-styling" type="submit" value="Get Your Total">
    </form>
  </div>
  <div id="getTotal-homepage-link">
    <a class="form-button-styling" href="/">HOME</a>
  </div>
</body>

</html>