<!--INDEX HOME PAGE-->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Wishlists</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Matemasie&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div id="headers">
        <h1 id="wishlist-header">WISHLIST TRACKER</h1>
        <h1 id="wishlist-subheader"> ♡ keep track of whatever your heart desires ♡</h1>
    </div>
    <div id="links-container">
        <a class="link-styling" href="/createWishlist">Create Wishlist</a>
        <a class="link-styling" href="/revisitWishlist">Revisit A Wishlist</a> <!--you can revisit and delete one or add more items-->
        <a class="link-styling" href="/getTotalOfWishlist">Get Current Total of a Wishlist</a>
        <a class="link-styling" href="/searchByCategory">Search Items By Category</a>
        <!-- <a class="link-styling" href="/searchByPriority">Search Items By Priority</a> -->
        <a class="link-styling" href="/deleteAllWishlists">Delete All Wishlists</a>
    </div>

</body>

</html>