<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get Total</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="processTotal-container">
    <h2 class="header-styling" >GET TOTAL</h2>
    <p class="form-qs" style="color:#3a5a40"><strong>The total for the wishlist "<%- wishlistTitle %>" is $<%- wishlistTotal.toFixed(2) %> in <%- currencyType %> currency</strong></p>
  </div>
  <div class ="homepage">
    <a class="form-button-styling" href="/">HOME PAGE</a>
  </div>
 
</body>

</html>