<!--INDEX HOME PAGE-->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
	<title>All Wishlists Deleted</title>
</head>

<body>
    <div id="deletedWishlists-container">
        <h1 class="form-qs" style="color:#3a5a40"><strong>All wishlists have been deleted</strong></h1>
    </div>
    <div class="homepage">
        <a class="form-button-styling" href="/">Home Page</a> <!-- a url to go back to home page-->
    </div>
</body>

</html>