<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Wishlist Deleted</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="deletedOneWishlist-container">
    <h1 class="form-qs" style="color:#3a5a40"><strong>Your wishlist <%- wishlistName %> has been deleted</strong></h1>
  </div>
  <div class="homepage">
    <a class="form-button-styling" href="/">Return to Home Page</a>
  </div>
</body>

</html>